rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /subscriptions/{subscriptionId} {
      // Allows prospective users to initialize a plan or register unauthenticated
      allow create: if true; 
      
      // Restricts reading, modifying, or clearing profiles to the verified data owner
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /users/{userId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
